// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.project-manager {

}
.project-manager-editor-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
